
.main__section {
    background-image: url("../../assets/index/Background.png");
    background-repeat: no-repeat;
    background-size: contain;

    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__note {
    font-size: 0.75rem;
    color: var(--cor-4);
}
.container__title {
    font-size: 1.75rem;
}
.container__image {
    margin: 1em 0 2em 0;
    mix-blend-mode:difference;
}
.container__caixa{
    margin: 0 6em;
}
